* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; font-family: 'Open Sans', sans-serif; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */


body h1 {
	font-family: 'Roboto', sans-serif;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 50px; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	
	font-family: 'Roboto', sans-serif;
}

#overlay-item {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 25px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}